
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: url('https://img1.goodfon.com/original/1440x900/e/27/muzyka-fon-electric-guitar.jpg');
}
h1{
    font-family: 'Nabla', cursive;
    font-size: 5em;
}
ul#playlist {
    border: 1px solid #8888d8;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0px;
    list-style-type: none;
}
ul#playlist li {
    border-bottom: 1px solid #261313;
    padding: 10px;
    background-image: linear-gradient(#f9f9f9, #e3e3e3);
}
ul#playlist li:last-child {
    border-bottom: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
ul#playlist li:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
